In [2]:
import numpy as np
import pandas as pd

In [25]:
df = pd.read_csv('11test.csv')
print(df)

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon     NaN     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami    -3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [26]:
# dump the NaN price(s)
df['ounces'].fillna(df['ounces'].mean(),inplace=True)
print(df)

          food  ounces  animal
0        bacon  4.0000     pig
1  pulled pork  3.0000     pig
2        bacon  4.5625     pig
3     Pastrami  6.0000     cow
4  corned beef  7.5000     cow
5        Bacon  8.0000     pig
6     pastrami -3.0000     cow
7    honey ham  5.0000     pig
8     nova lox  6.0000  salmon

In [27]:
# correct the minus price(s)
df['ounces'] = df['ounces'].abs()
print(df)

          food  ounces  animal
0        bacon  4.0000     pig
1  pulled pork  3.0000     pig
2        bacon  4.5625     pig
3     Pastrami  6.0000     cow
4  corned beef  7.5000     cow
5        Bacon  8.0000     pig
6     pastrami  3.0000     cow
7    honey ham  5.0000     pig
8     nova lox  6.0000  salmon

In [28]:
df['food'] = df['food'].str.lower()
print(df)

          food  ounces  animal
0        bacon  4.0000     pig
1  pulled pork  3.0000     pig
2        bacon  4.5625     pig
3     pastrami  6.0000     cow
4  corned beef  7.5000     cow
5        bacon  8.0000     pig
6     pastrami  3.0000     cow
7    honey ham  5.0000     pig
8     nova lox  6.0000  salmon

In [37]:
# group by to merge the same food/animal
print(df.groupby(['food', 'animal']).mean())

                      ounces
food        animal
bacon       pig     5.520833
corned beef cow     7.500000
honey ham   pig     5.000000
nova lox    salmon  6.000000
pastrami    cow     4.500000
pulled pork pig     3.000000